<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">接口测试平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('main')}}">主页</a></li>
				<li><a href="{{url_for('test_history')}}">测试历史记录</a></li>
                <li><a href="{{url_for('start_test')}}">已添加接口</a></li>
				<li><a href="{{url_for('add_api')}}">添加新接口</a></li>
				<li><a href="{{url_for('ready_to_start')}}">准备开始测试</a></li>
				<li><a href="{{url_for('mock_test')}}">Mock测试</a></li>
				<li style="margin-left:300px">
					{% if not session.logged_in %}
					<a href="{{ url_for('login') }}">登录</a>
					{% else %}
					<a href="{{ url_for('logout') }}">退出</a>
					{% endif %}
				</li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->