{% extends "common/base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
<form action=" {{ url_for('add_entry') }}" method="post" class="add-entry ">
      <div class="row" style="padding:20px 0">
		<h3>添加新的接口用例(*为必填，其他为非必填)</h3>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">接口名称</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="url_name" type="text">
		</div>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">接口url</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="url" type="text">
		</div>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">请求方式</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="method" type="text">
		</div>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">从数据库里取的数据</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="params_from_sql" type="text">
		</div>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">授权码</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="type" type="text">
		</div>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">需要MD5加密的参数</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="md5_params" type="text">
		</div>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">url中参数</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="url_params" type="text">
		</div>
	  </div>
	  <div class = "row form-group">
		<label class="control-label col-lg-1" for="name">缓存表</label>
		<div class="col-lg-5 col-md-6">
			<input class="form-control" name="cache_table" type="text">
		</div>
	  </div>
	  <button type="submit" class="button button-raised button-pill button-inverse">点击添加</button>
</form>
{% endblock %}