{% extends "common/base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->

<div class="mock-title">
<span style="float:left;font-size:1.2em;">接口URL:</span>
	<div class="col-lg-3">	
		<div class="input-group">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">搜索</button>
			</span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	<a href="#" class="button button-raised button-pill button-inverse" data-toggle="modal" data-target="#myModal" style="float:right;margin-right:150px">新增</a>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mbtn_add">新增</h4>
                </div>
				
                <div class="modal-body">
				<form action=" {{ url_for('add_mock_list') }}" method="post">
                    <div class="form-group">
                        <label for="txt_departmentname">url名称</label>
                        <input type="text" name="url_name" class="form-control" placeholder="url名称">
                    </div>
                    <div class="form-group">
                        <label for="txt_parentdepartment">url访问路径</label>
                        <input type="text" name="url_path" class="form-control" placeholder="访问路径">
                    </div>
                    <div class="form-group">
                        <label for="txt_departmentlevel">参数请求格式</label>
                        <textarea class="form-control" name="req_form" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txt_statu">post/get</label>
                        <input type="text" name="req_method" class="form-control" placeholder="post/get">
                    </div>
					<div class="form-group">
                        <label for="txt_statu">请求数据</label>
                        <input type="text" name="req_data" class="form-control" placeholder="请求数据">
                    </div>
					<div class="form-group">
                        <label for="txt_statu">响应数据</label>
                        <textarea name="res_data" class="form-control" rows="3"></textarea>
                    </div>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
				</form>
            </div>
        </div>
    </div>

<div class="mock-body">
<table class="table table-striped">
	<thead>
	<tr>
		<th style="font-family:Microsoft YaHei">ID</th>
		<th style="font-family:Microsoft YaHei">url名称</th>
		<th style="font-family:Microsoft YaHei">url路径</th>
		<th style="font-family:Microsoft YaHei">响应json</th>
		<th style="font-family:Microsoft YaHei">操作</th>
	</tr>
	</thead>
	<tbody>
	{% for mockApi in mockList %}
		<tr>	
			<td style="font-family:Microsoft YaHei">{{mockApi.history_id}}</td>	
			<td style="font-family:Microsoft YaHei">{{mockApi.url_name}}</td>
			<td style="font-family:Microsoft YaHei">{{mockApi.url_path}}</td>
			<td style="font-family:Microsoft YaHei">{{mockApi.req_blob}}</td>
			<td style="font-family:Microsoft YaHei"><a href="#">查看详情</a>&ensp;&ensp;<a href="#">修改</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<ul class="pagination navbar-nav">
			<li><a href="/mock_test?p={{p-1}}">&laquo;</a></li>
		{% for num in page_num %}
			{% if num == page_num %}
			<li class="active"><a href="/mock_test?p={{num}}">{{num}}</a></li>
			{% else %}
			<li><a href="/mock_test?p={{num}}">{{num}}</a></li>
			{%endif%}
		{% endfor %}
			<li><a href="/mock_test?p={{p+1}}">&raquo;</a></li>
	</ul>
</div>

{% endblock %}